## Health Insurance Analysis

In [1]:
#Importing libraries
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'/Users/dorinasalam/Desktop/10-2023 Health Insurance Analysis/01.Data/insurance_data.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [4]:
df.shape

(1338, 7)

In [5]:
df.value_counts(dropna = False)

age  sex     bmi     children  smoker  region     charges
19   male    30.590  0         no      northwest  1639.56310     2
47   male    29.830  3         no      northwest  9620.33070     1
48   female  25.850  3         yes     southeast  24180.93350    1
             22.800  0         no      southwest  8269.04400     1
47   male    47.520  1         no      southeast  8083.91980     1
                                                                ..
31   female  25.740  0         no      southeast  3756.62160     1
             23.600  2         no      southwest  4931.64700     1
             21.755  0         no      northwest  4134.08245     1
30   male    44.220  2         no      southeast  4266.16580     1
64   male    40.480  0         no      southeast  13831.11520    1
Length: 1337, dtype: int64

In [6]:
#Checking for null values

df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [7]:
#Checking for duplicates

df[df.duplicated()]

     age   sex    bmi  children smoker     region    charges
581   19  male  30.59         0     no  northwest  1639.5631

In [8]:
#Removing duplicates

df_clean = df.drop_duplicates()

In [10]:
df_clean.shape

(1337, 7)

In [11]:
df_clean.to_csv(r'/Users/dorinasalam/Desktop/10-2023 Health Insurance Analysis/01.Data/insurance_data_cleaned.csv', index=False)